* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #00FF1E;
    text-align: center;
}

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

h1 {
    font-family: "Mochiy Pop One", sans-serif;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    border: 1px solid #00FF1E;
    margin: 30px auto;

}

.presentation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto auto;
    padding: 0 100px;
    text-align: left;
}

.photo{
    background-color: #D9D9D9;
}

.btn {
    margin-right: 70%;
    color: #00FF1E;
    background-color: transparent;
    border: 1px solid #00FF1E;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}


.accueil {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    color: #00FF1E;
    background-color: transparent;
    border: 1px solid #00FF1E;
    border-radius: 15px;
    padding: 10px;


}