body{
    margin: 0;
    background-image: url("./../img/istockphoto-117144601-1024x1024.jpg");
    background-size: cover;
    background-position-x: 150px;
}

   /* pour emoji explsion*/
.text{
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.boom{
    position: relative;
    font-weight: bold;
    
}
/*explozia */
.boom::after{
    content:💥;
    position: absolute;
    right: -35px;  /*position exploziei*/
    top: -10px;
    font-size: 28px;
}
main h1{
    background-color: rgb(190, 140, 74);
    padding: 25px;
    text-align: center;
   
}
section h2{
    display: flex;
    justify-content: center;
    text-align: left;
   color: antiquewhite;

}
.container{
    display: flex;
   

}